{% extends 'default/layout.html.twig' %}

{% block content %}
    <div class="io-content">
        <h1>{{ content.properties.title }}</h1>
        <div class="text-center">{{ content.properties.content | raw }}</div>
        <div class="text-center mt-8">
            <a href="{{ asset('media/document/' ~ content.documents[0].folder ~ '/' ~ content.documents[0].fileName) ~ '.' ~ content.documents[0].extension }}" target="_blank" class="bg-primary py-3 px-8 rounded text-white">
                {{ content.documents[0].caption }}
            </a>
        </div>
        {% for category in categories %}
            <h2>{{ category.category.properties.name }}</h2>
            <div class="flex flex-wrap flex-col gap-8 items-center md:flex-row">
                {% for sponsor in category.sponsors %}
                    {% if sponsor.images | length %}
                        <div class="w-52 flex flex-col">
                            <div class="mx-auto">
                                <a href="{{ sponsor.properties.link }}" target="_blank">
                                    <img src="{{ asset('media/image/' ~ sponsor.images[0].folder ~ '/' ~ sponsor.images[0].fileName) ~ '.' ~ sponsor.images[0].extension }}" alt="{{ sponsor.properties.name }}">
                                </a>
                            </div>
                            {# <div class="text-center mt-3">{{ sponsor.properties.name }}</div> #}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
