{% extends 'default/layout.html.twig' %}

{% block content %}
    <div class="io-content">
        <div class="flex flex-wrap gap-8 md:gap-16 justify-center items-center mb-4">
            {% for sponsor in platiniumSponsors %}
                {% if sponsor.images | length %}
                    <div class="flex-initial w-96">
                        <a href="{{ sponsor.properties.link }}" target="_blank">
                            <img src="{{ asset('media/image/' ~ sponsor.images[0].folder ~ '/' ~ sponsor.images[0].fileName) ~ '.' ~ sponsor.images[0].extension }}" alt="{{ sponsor.properties.name }}">
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="flex flex-wrap gap-8 md:gap-16 justify-center items-center">
            {% for sponsor in sponsors %}
                {% if sponsor.images | length %}
                    <div class="w-48">
                        <a href="{{ sponsor.properties.link }}" target="_blank">
                            <img src="{{ asset('media/image/' ~ sponsor.images[0].folder ~ '/' ~ sponsor.images[0].fileName) ~ '.' ~ sponsor.images[0].extension }}" alt="{{ sponsor.properties.name }}">
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="bg-primary p-10 text-white text-center my-10">
        <h2 class="mt-1">Programme de la soirée</h2>
        <div class="md:w-2/3 mx-auto">
            <h3>18h00</h3>
            <p>Ouverture des portes<br>(exclusivement réservé aux personnes qui participeront au souper)</p>
            <h3>19h00-21h00</h3>
            <p>Repas servi à table et animé par Mike le Troubadour<br>(choucroute artisanale de Champex-Lac - 6 sortes de viande)</p>
            <p>1 bouteille de vin + eau minérale par table</p>
            <p>Dessert + 1 café « Schuss »</p>
            <p>Prix : CHF 70.- par personne</p>
            <h3>Dès 21h00</h3>
            <p>Ouverture des portes (tout public) - DJ-concerts</p>
            <p>Prix : CHF 30.-, CHF 25.- (pré-location) par personne</p>
            <h3>03h00</h3>
            <p>Fin de la soirée</p>
        </div>
    </div>
    <div class="my-10">
        <video class="w-full" controls>
            <source src="{{ asset('/media/video/0/lorenz-buffel.mp4') }}" type="video/mp4">
        </video>
    </div>
    <div class="bg-primary p-10 text-white my-10">
        <div class="w-full md:w-1/3 mx-auto text-center">
            <h2 class="mt-1">Rendez-vous à la salle de l'Abeille à Riddes</h2>
            <p>Ouverture des portes à 18h00</p>
            {# <p>
                                        <a href="{{ path('app_default_content', { slug: 'acces-et-transport', id: '9' }) }}" class="inline-block border border-white rounded py-2 px-4 mt-4 hover:text-primary hover:bg-white">Itinéraire</a>
                                    </p> #}
        </div>
    </div>
    <div class="io-content mt-14">
        <div class="text-center flex flex-col gap-10 justify-center md:flex-row">
            <div class="bg-gray-100 text-primary p-10 border border-primary rounded-lg basis-auto md:basis-1/3">
                <div>Repas et soirée</div>
                <div class="font-semibold text-2xl mt-2 font-heading">70 CHF</div>
            </div>
            <div class="bg-gray-100 text-primary p-10 border border-primary rounded-lg basis-auto md:basis-1/3">
                <div>Soirée uniquement</div>
                <div class="font-semibold text-2xl mt-2 font-heading">30 CHF<br><span class="text-sm">25 CHF en pré-location</span></div>
            </div>
        </div>
        <div class="text-center mt-2">
            <a href="https://billetterie.apres-ski-party.ch" target="_blank" class="inline-block bg-primary text-white rounded-md py-2 px-4 mt-4">Commander mon billet</a>
        </div>
    </div>
{% endblock %}
