{% extends 'default/layout.html.twig' %}

{% block content %}
    <div class="io-content">
        <div class="grid md:grid-cols-2 gap-16">
            {% for new in news %}
                <div>
                    {% if new.images | length %}
                        <img src="{{ asset('media/image/' ~ new.images[0].folder ~ '/' ~ new.images[0].fileName) ~ '.' ~ new.images[0].extension }}" class="my-5" alt="">
                    {% endif %}
                    <h2>{{ new.properties.title }}</h2>
                    <div class="my-5 text-gray-400">{{ new.properties.date | date('d.m.Y') }}</div>
                    <div class="text-justify">{{ new.properties.content | raw }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="bg-primary p-10 text-white my-10">
        <div class="w-full md:w-1/3 mx-auto text-center">
            <h2 class="mt-1">Rendez-vous à la salle de l'Abeille à Riddes</h2>
            <p>Ouverture des portes à 18h00</p>
            <p>
                <a href="{{ path('app_default_content', { slug: 'acces-et-transport', id: '9' }) }}" target="_blank" class="inline-block border border-white rounded py-2 px-4 mt-4 hover:text-primary hover:bg-white">Itinéraire</a>
            </p>
        </div>
    </div>
    <div class="io-content mt-14">
        <div class="text-center flex flex-col gap-10 justify-center md:flex-row">
            <div class="bg-gray-100 text-primary p-10 border border-primary rounded-lg">
                <div>Concert + choucroute</div>
                <div class="font-semibold text-2xl mt-2 font-heading">70 CHF</div>
            </div>
            <div class="bg-gray-100 text-primary p-10 border border-primary rounded-lg">
                <div>Concert uniquement</div>
                <div class="font-semibold text-2xl mt-2 font-heading">30 CHF</div>
            </div>
        </div>
        <div class="text-center mt-2">
            <a href="https://billetterie.apres-ski-party.ch" target="_blank" class="inline-block bg-primary text-white rounded-md py-2 px-4 mt-4">Commander mon billet</a>
        </div>
    </div>
{% endblock %}
