{% extends 'default/layout.html.twig' %}

{% block content %}
    <div class="io-content">
        <h1>Programmation</h1>
        <div class="flex flex-col gap-4">
            {% for content in contents %}
                <div class="mb-5">
                    <div class="text-center text-xl font-bold">{{ content.properties.hour }}</div>
                    <div class="h-8 w-1 my-4 border-2 border-primary border-dashed mx-auto"></div>
                    <div class="flex flex-col gap-4 bg-gray-100 md:flex-row">
                        <div class="bg-primary md:mx-auto">
                            <div class="w-52 h-52">
                                {% if content.images | length %}
                                    <img src="{{ asset('media/image/' ~ content.images[0].folder ~ '/' ~ content.images[0].fileName) ~ '.' ~ content.images[0].extension }}" class="h-full">
                                {% endif %}
                            </div>
                        </div>
                        <div class="p-5">
                            <h2 class="relative mt-0 md:mt-5">{{ content.properties.name }}
                                <sup class="text-sm font-thin text-primary -top-3.5">{{ content.properties.country }}</sup>
                            </h2>
                            <div>{{ content.properties.description | raw }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
