<turbo-frame id="header">
    <nav id="nav-header" class="io-header" style="background-image: url({{ asset('background.jpg') }})">
        <div class="io-backdrop">
            <div class="io-nav">
                <div class="io-nav-left">
                    <ul>
                        {% for content in contents %}
                            <li class="relative" {{ stimulus_controller('dropdown') }}>
                                <a href="{{ content.link.url }}" data-turbo-frame="content" {{ stimulus_action('dropdown', 'toggle', 'click') }}>{{ content.link.label }}</a>
                                {% if content.children | length %}
                                    <div class="io-dropdown io-hidden" {{ stimulus_target('dropdown', 'content') }}>
                                        <ul class="font-medium flex flex-col gap-5">
                                            {% for child in content.children %}
                                                <li>
                                                    <a href="{{ child.link.url }}" data-turbo-frame="content" {{ stimulus_action('dropdown', 'hide', 'click') }}>
                                                        {{ child.link.label }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="io-logo">
                    <a href="{{ path('app_default_index') }}" data-turbo-frame="content">
                        <img src="{{ asset('logo.svg') }}" class="w-48" alt="Après-Ski Closing Party">
                    </a>
                </div>
                <div class="io-nav-right">
                    <ul>
                        <li class="hidden md:block">
                            <a href="https://www.facebook.com" target="_blank">
                                <svg class="w-9 h-9">
                                    <use href="{{ asset('symbol-defs.svg#facebook') }}"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="hidden md:block">
                            <a href="https://www.instragram.com" target="_blank">
                                <svg class="w-9 h-9">
                                    <use href="{{ asset('symbol-defs.svg#instagram') }}"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="ml-4 hidden md:block">
                            <a href="https://billetterie.apres-ski-party.ch" target="_blank" class="io-cta" data-turbo-frame="content">
                                Billetterie
                            </a>
                        </li>
                        <li class="io-burger" {{ stimulus_controller('dropdown') }}>
                            <a href="#" class="io-link" {{ stimulus_action('dropdown', 'toggle', 'click') }}>
                                <svg class="w-9 h-9">
                                    <use href="{{ asset('symbol-defs.svg#burger') }}"></use>
                                </svg>
                            </a>
                            <div class="io-content io-hidden" {{ stimulus_target('dropdown', 'content') }}>
                                <ul>
                                    <li>
                                        <a href="https://billetterie.apres-ski-party.ch" target="_blank" data-turbo-frame="content">
                                            Billetterie
                                        </a>
                                    </li>
                                    {% for content in contents %}
                                        <li class="relative">
                                            <a href="{{ content.link.url }}" data-turbo-frame="content" {{ stimulus_action('dropdown', 'hide', 'click') }}>{{ content.link.label }}</a>
                                            {% if content.children | length %}
                                                <ul>
                                                    {% for child in content.children %}
                                                        <li>
                                                            <a href="{{ child.link.url }}" data-turbo-frame="content" {{ stimulus_action('dropdown', 'hide', 'click') }}>
                                                                {{ child.link.label }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="io-hero">
                {% block content_title %}
                    <div class="io-title">Après-Ski Closing Party</div>
                    <div class="io-date">16 mars 2024</div>
                    <div class="io-artists">
                        <ul>
                            <li>Lorenz Büffel</li>
                            <li>
                                <span class="io-separator">.</span>
                            </li>
                            <li>Marie Käfer</li>
                            <li>
                                <span class="io-separator">.</span>
                            </li>
                            <li>DJ Biene</li>
                            <li>
                                <span class="io-separator">.</span>
                            </li>
                            <li>Mike Le Troubadour</li>
                        </ul>
                    </div>
                    <div class="io-cta">
                        <a href="{{ path('app_program_index') }}" class="io-button" data-turbo-frame="content">Découvrir la programmation</a>
                    </div>
                {% endblock content_title %}
            </div>
        </div>
    </nav>
</turbo-frame>
